.col-sm-2,
.col-xs-12,
.col-xs-3,
.row {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-xs-12,
.col-xs-3 {
  flex: 0 0 auto;
  padding: 1.25rem;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.middle-xs {
  align-items: center;
}

@media only screen and (min-width: 48rem) {
  .col-sm-2,
  .col-sm-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 1.25rem;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
}

@media only screen and (min-width: 64rem) {
  .col-md-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    flex-basis: 25%;
    max-width: 25%;
  }
}